* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  line-height: 1.6; //odstep miedzy wierszami
  padding: 10px;
}

h1, h2, p {
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*Menu mobilne */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#menu-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

#menu {
  list-style: none;
  margin-top: 10px;
}

#menu li {
  margin: 10px 0;
  padding: 10px;
}

#menu li a {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}

/*Klasy sekcji*/
.intro, .page {
  margin: 20px 0;
}

/* Skrolowanie poziome*/
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory; //przeskakuje od jednego elementu do drugiego
}

.horizontal-scroll figure {
  flex: 0 0 auto;
  width: 250px;
  border-radius: 5px;
  scroll-snap-align: start;
  overflow: hidden;
  text-align: center;
}

.horizontal-scroll img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

.horizontal-scroll figcaption {
  padding: 10px;
}

/*podstrona karmy*/
#karmy ul {
  list-style-type: square;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  }
  
  #karmy li {
    font-size: 1.1rem;
  }

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 2px solid black;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  font-weight: 600;
  background-color: #f0f0f0;
}

td a {
  text-decoration: none;
  color: #333;
}

td a:hover {
  color: #483D8B;
}


/* Siatka - akcesoria */
.product-grid {
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; //dwie kolumny
  gap: 30px;
  align-items: stretch; //wyrownanie wysokosci
}

.product-card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card p {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Newsletter */
form {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

form button {
  margin-top: 30px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: orangered;
}

/*Stopka */
footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.social-icons a {
  color: #333;
  margin: 0 10px;
  font-size: 24px;
}

/* Desktop (min 768px) */
@media (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #menu-toggle {
    display: none;
  }

  #menu {
    display: flex !important;
    gap: 20px;
    margin-top: 0;
  }

  #menu li {
    margin: 0;
  }
  .intro > img {
    max-width: 750px;
    margin: 0 auto;
  }

  .horizontal-scroll {
    justify-content: center;
    align-items: center;
  }
  
  .horizontal-scroll img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
  
  
  table {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80vw;
    margin: 0 auto;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  .product-card p {
    font-size: 1rem;
  }
}

.page {
  display: none;
}
.page.active {
  display: block;
}